.card {
	background-color: var(--gray-50);
	border-radius: 20px;
	max-width: 360px;
	width: 100%;
	height: 360px;
	border: 2px solid var(--gray-100);
	transition: 0.3s linear;
	padding: 15px 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&:hover {
		border: 2px solid var(--primary);
	}
}

.selected {
	border: 2px solid var(--secondary);
}
