.card {
    background-color: var(--gray-50);
    border-radius: 20px;
    width: 100%;
    min-height: 340px;
    max-height: 380px;
    border: 2px solid var(--gray-100);
    transition: 0.3s linear;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover {
        border: 2px solid var(--primary);
    }
}

.selected {
    border: 2px solid var(--secondary);
}

@media screen and (max-width: 1024px) {
    .card {
        min-height: 320px;
        padding: 18px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        min-height: 300px;
        padding: 16px;
    }
}

@media screen and (max-width: 480px) {
    .card {
        min-height: 280px;
        padding: 14px;
        max-width: 100%;
    }
}
