.place {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 24px;
    width: 100%;
    justify-content: center;
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
    .place {
        grid-template-columns: repeat(2, 1fr);
        max-width: 720px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 15px;
    }
}
