.header {
	display: flex;
	flex-direction: column;
	gap: 4px;
	&__icon {
		background-color: var(--primary);
		width: 70px;
		height: 70px;
		border-radius: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__name {
		&__value {
			font-size: 1.5rem;
		}
	}
}
