.button {
	width: 100%;
	padding: 10px 0;
	font-size: 1.2rem;
	border-radius: 10px;
	border: none;
	font-weight: 600;
	transition: 0.3s linear;
	background-color: var(--primary);
	color: var(--gray-100);
	&:hover {
		scale: 1.02;
	}
}

.selected {
	transition: 0.3s linear;
	background-color: var(--secondary);
	color: var(--white);
}
